p,span,h1,h2,h3,h4,h5,h6, .nav-link {
    font-family: 'Quicksand', Arial, Helvetica, sans-serif !important;
}
body {
    overflow-x: hidden;
}


.navbar {
    position: fixed;
    top: 0 ;
    width: 100%;
    padding-top: 1em;
    opacity: 1 !important;
}

#about {
    margin-top: 20px;
}
#profiledp {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.name-span{
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    color: #212529;
}

.title {
    text-align: center;
    background-color:#212529;
    color: whitesmoke;
}

section {
    background-color: white;
    margin: 50px auto auto auto !important;
}

.info {
    box-shadow: 0 0 20px rgba(0,0,0,0.5) !important;
}

.info, .project-item, .achievement-item, .education-item, .experience-item {
    padding: 1em !important;
}

#education, #achievement, #projects, #experience {
    background-color: #212529 ;
    color: antiquewhite;
}
.achievement-item, .education-item, .project-item, .experience-item {
    border-bottom: solid 1px antiquewhite;
}
.title {
    background-color: #2a3c77;
}
.title {
    padding-top: 15px;
    padding-bottom: 15px;
}
.keep-in-touch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #212529;
    color: #fd7314;
    padding: 1em;
}
.social-info {
    width: 250px;
    display: flex;
    justify-content: space-between;
    font-size: xx-large;
}

@media(min-width:675px) {
    .name-custom {
        text-align: center;
    }
    .name-span {
        font-size: 3em;
    }
}
